/* Global Styles */

:root {
  --main-bg: #fff;
  --main-text: #000;
  --link-text: #007dd1;
  --form-button: #e9e9e9;
  --form-button-hover: #c2c2c2;
  --form-button-text: #000;
  --form-border: #888;
  --code-bg: #222;
  --code-text: #e9e9e9;
  --code-err: #ffabab;
  --dark-gray: #333;
  --form-accent: #9ed1f3;
  --form-accent-hover: #74bcec;
}

[data-theme="dark"] {
  --main-bg: #121212;
  --main-text: #ccc;
  --link-text: #9ed1f3;
  --form-button-text: #eee;
  /* --form-button-text: #000; */
  --code-bg: #333;
  --form-border: #aaa;
  --form-button: #383838;
  --form-button-hover: #555;
  --form-accent: #0d5585;
  --form-accent-hover: #0070bb;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  color: var(--main-text);
  background-color: var(--main-bg);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.3em;
  margin-bottom: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

a {
  color: var(--link-text);
}

.option-description {
  font-size: 14px;
}

nav a {
  color: var(--form-accent-hover);
  font-size: 3em;
  margin-left: 50px;
  text-decoration: none;
}

code {
  background: none;
  background-color: var(--code-bg);
  color: var(--code-text);
  display: block;
  padding: 1em;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  white-space: pre-wrap;
}

code.error {
  color: var(--code-err);
}


/* Flex containers */
/* from https://www.w3schools.com/howto/howto_css_two_columns.asp
and https://www.w3schools.com/css/css3_flexbox_container.asp */

.flex-container {
  display: flex;
  padding: 0.5em;
}

.flex-item {
  min-width: 50%;
  padding: 1em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/* Tab form selector */
/* from https://www.w3schools.com/howto/howto_js_tabs.asp */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid var(--form-border);
  background-color: var(--form-button);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: var(--form-button-text);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--form-button-hover);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--form-button-hover);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--form-border);
  border-top: none;
}


/* Forms */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  display: block;
  width: 200px;
  padding: 8px;
  border: 0.1em solid var(--form-border);
  background-color: inherit;
  color: inherit;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  margin-top: 0.5em;
  display: grid;
}

option {
  background-color: var(--main-bg);
}


/* Buttons */

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: var(--form-border);
  border-style: solid;
  text-decoration: none;
  background-color: var(--form-button);
  transition: background-color 0.3s ease;
  color: var(--form-button-text);
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  background-color: var(--form-button-hover);
}

/* Apply a different color to the submit button */

input[type="submit"] {
  background-color: var(--form-accent);
}

input[type="submit"]:hover {
  background-color: var(--form-accent-hover);
}


/* Checkboxes / Radio buttons */

/* from https://moderncss.dev/pure-css-custom-checkbox-style/ 
   and https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */

.form-check {
  grid-template-columns: 1em auto;
  gap: 0.5em;
  line-height: 1.1;
}

input[type="checkbox"],
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--main-bg);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid var(--form-border);
  border-radius: 0.1em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  transition: background-color 0.3s ease;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]:hover {
  background-color: var(--form-button);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-accent-hover);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  border-color: var(--main-text);
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-accent-hover);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
  }
}
