<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
</head>
<body>
    <nav id="titlebar">
        <a href="{{ url_for('index') }}">Cipher App</a>
        <a href="https://gitlab.com/SirDoctorK/cipher" target="_blank" rel="noopener noreferrer">Code</a>
        <a href="https://gitlab.com/SirDoctorK/cipher/-/wikis/home" target="_blank" rel="noopener noreferrer">Wiki</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
