{% extends 'base.html' %}

{% block title %}Cipher{% endblock %}

{% block content %}

<div class="flex-container">

  <div id="column1" class="flex-item">
    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'cipher-form')" id="defaultTab">Encipher/Decipher</button>
      <button class="tablinks" onclick="openTab(event, 'analyze-form')">Analyze ciphertext</button>
    </div>

    <form id="analyze-form" class="tabcontent" method="POST">

      <h2>
        Input text
      </h2>
      <p>
        <textarea name = "input_str" required></textarea>
      </p>

      <h2>
        Script modifiers
      </h2>
      <p>
        <label class="form-item">
          Script verbosity
          <select name="verbosity" id="verbosity">
            <option value="0" selected>Normal</option>
            <option value="1">Info</option>
            <option value="2">Detail</option>
            <option value="3">Debug</option>
          </select>
        </label>
      </p>

      <h2>
        Output Selection
      </h2>
      <p>
        <label class="form-check">
          <input type="checkbox" id="graph" name="graph">
          Show graph of letter frequencies
        </label>
        <label class="form-check">
          <input type="checkbox" id="list" name="list">
          List the top NUM letters, pairs, and doubles
          <input type="number" id="list-num" name="list-num" placeholder="number of top items" value="5"/>
        </label>
        <label class="form-check">
          <input type="checkbox" id="caesar" name="caesar">
          Analyze input text as possible Caesar cipher and look for likely offset distances
        </label>
      </p>

      <p>
        <input type="submit" value="Submit"/>
        <input type="reset"/>
      </p>
    </form>

    <form id="cipher-form" class="tabcontent" method="POST">

      <h2>
        Input text
      </h2>
      <p>
        <textarea name = "input_str" required></textarea>
      </p>

      <h2>
        Script modifiers
      </h2>
      <p>
        <label class="form-check">
          <input type="checkbox" id="generate" name="generate">
          Generate input text (will ignore provided input text)
        </label>
        <label class="form-check">
          <input type="checkbox" id="strip" name="strip">
          Strip spaces from result
        </label>
        <label class="form-item">
          Script verbosity
          <select name="verbosity" id="verbosity">
            <option value="0" selected>Normal</option>
            <option value="1">Info</option>
            <option value="2">Tutorial</option>
            <option value="3">Stepwise</option>
          </select>
        </label>
        <label class="form-item">
          Mismatched input policy
          <select name="mismatch-policy" id="mismatch-policy">
            <option value="warn" selected>Warn</option>
            <option value="continue">Silently continue</option>
            <option value="skip">Skip cipher</option>
          </select>
        </label>
        <label class="form-item">
          Output case
          <select name="case" id="case">
            <option value="original" selected>Original (from input)</option>
            <option value="uppercase">Uppercase</option>
            <option value="lowercase">Lowercase</option>
          </select>
        </label>
      </p>

      <h2>
        Cipher operations (select at least one)
      </h2>
      <p>
        <div id="cipher-operations">
          <div id="cipher-template" class="cipher-operation" style="display: none">
            <select id="cipher-selector" onchange="showCipherParams(this)">
              <option value="caesar">Caesar cipher</option>
              <option value="atbash">Atbash cipher</option>
              <option value="a1z26">A1Z26 cipher</option>
              <option value="vigenere">Vigenère cipher</option>
              <option value="autokey">Vigenère Autokey cipher</option>
              <option value="beaufort">Beaufort cipher</option>
              <option value="keyword">Keyword cipher</option>
              <option value="polybius">Polybius cipher</option>
              <option value="playfair">Playfair cipher</option>
              <option value="bifid">Bifid cipher</option>
              <option value="substitute">Custom monoalphabetic substitution</option>
              <option value="random">Random monoalphabetic substitution</option>
            </select>
            <span id="random-cipher-hint" class="random-cipher-hint option-description" style="display: none">
              Random substitution will prevent any other ciphers from running.
              One adjacent cipher will be passed to each random substitution as a hint for how to randomize the substitution.
            </span>
            <input type="text" id="cipher-key" class="cipher-key" placeholder="key" style="display: none"/>
            <input type="number" id="cipher-offset" class="cipher-offset" placeholder="offset distance" value="3" style="display: block"/>
            <input type="button" value="Remove operation"
              onclick="removeElement(this.parentElement)" /><br /><br />
          </div>
        </div>
        <input type="button" id="cipher-adder" onclick="addCipher()" value="Add cipher operation"/>
      </p>

      <h2>
        Cipher modifiers
      </h2>
      <p>
        <label class="form-check">
          <input type="checkbox" id="sequential" name="sequential">
          Sequential mode
        </label>
        <div class="option-description">
          Perform all requested cipher operations in sequental order, where the result of each cipher is the input to the next
        </div>
        <label class="form-check">
          <input type="checkbox" id="brute" name="brute">
          Brute force mode 
        </label>
        <div class="option-description">
          Only applies to Caesar cipher; print every offset up to the specified distance
        </div>
        <label for="period">
          Period for Bifid cipher (default=5)
          <input type="number" id="period" name="period">
        </label>
        <label for="separator">
          Number separator (for numeric ciphers)
          <input type="text" id="separator" name="separator" placeholder="-">
        </label>
      </p>

      <h3>
        Operation
      </h3>
      <p>
        Applies to all asymmetric ciphers
        <label class="form-check">
          <input type="radio" id="encipher" name="operation" value="encipher">
          Encipher (default)
        </label>
        <label class="form-check">
          <input type="radio" id="decipher" name="operation" value="decipher">
          Decipher
        </label>
      </p>

      <h3>
        Direction
      </h3>
      <p>
        Applies to Caesar and Vigenère ciphers
        <label class="form-check">
          <input type="radio" id="right" name="direction" value="right">
          Right (default)
        </label>
        <label class="form-check">
          <input type="radio" id="left" name="direction" value="left">
          Left
        </label>
      </p>

      <p>
        <input type="submit" value="Submit"/>
        <input type="reset"/>
      </p>

    </form>
  </div>

  <div id="column2" class="flex-item">
    <div id="result">
      <h2>Result</h2>
      <p id="result-blocks">
        Submit the form to see results here
        <code id="std-out" class="output"></code>
      </p>
    </div>

    <div id="about">
      <h2>About</h2>
      <p>
        Cipher App uses Flask to interface with a Python script to encipher and decipher text. More details on the Gitlab pages:
        <br>
        <a href="https://gitlab.com/SirDoctorK/cipher" target="_blank" rel="noopener noreferrer">Code</a>
        <br>
        <a href="https://gitlab.com/SirDoctorK/cipher/-/wikis/home" target="_blank" rel="noopener noreferrer">Project Wiki</a>
      </p>
    </div>

    <div class="theme-switch">
      <h2>Theme</h2>
      <label class="form-check">
        <input type="checkbox" id="dark-theme" name="dark-theme">
        Dark theme 
      </label>
    </div>
  </div>
    
</div>

<script src="{{url_for('static', filename='cipher.js')}}"></script>

{% endblock %}
